<!DOCTYPE html>
<html>
	<head>
		<link
			href="https://fonts.googleapis.com/css?family=Inter&display=swap"
			rel="stylesheet"
		/>
		<link rel="stylesheet" href="footer.css" />
	</head>
	<body>
		<div class="v1_3">
			<div class="v1_4">
				<div class="v1_15">
					<div class="v1_16"></div>
					<div class="v1_17"></div>
				</div>
				<div class="v3_4">
					<div class="v1_6"></div>
					<div class="v1_7"></div>
					<div class="v1_8">
						<span class="v1_9">June 15, 2022</span>
						<div class="v1_10">
							<div class="v1_11"></div>
							<div class="v1_12"></div>
						</div>
					</div>
					<span class="v1_13">June 15, 2022</span>
					<span class="v1_23">Recent Posts</span>
					<span class="v1_24">On the head with free internet</span>
					<span class="v1_25">Turpisdolor</span>
				</div>
				<div class="v3_3">
					<span class="v1_14">Get lastest updates and offers</span>
					<div class="v3_2">
						<input class="v1_18" placeholder="Your-email"></input>
						<button class="v1_20"></button>
					</div>
					<span class="v1_26">Subscribe</span>
				</div>
				<div class="v3_5">
					<span class="v1_22">Extra Links</span>
					<span class="v1_27"
						>Extra Links About Us Services Pricing Features </span>
					<span class="v1_28">How it Works F.A.Q Contact Us Coming Soon</span>
				</div>
				<div class="v3_6">
					<span class="v1_5">BUSIN</span>
					<span class="v1_21">info@yourdomain.com (+68) 120034509</span>
					<span class="v1_29"
						>2005 Stokes Isle Apt. 896, Venaville, New York 10010, United
						State
					</span>
					>
				</div>
			</div>
		</div>
	</body>
</html>
